.feedback__body {
  width: 400px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
}
.feedback__title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.feedback__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.feedback__btn{
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
.feedback__text {
  margin-bottom: 5px;
  font-size: 18px;
}
